header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  padding: 10px 20px;
}

.header-left {
  /* Adjust as needed */
}

.header-icon {
  width: 50px; /* Adjust size as needed */
  height: auto;
}

.header-right {
  display: flex;
  justify-content: space-between;
  width: 300px; /* Adjust based on total width of links */
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  /* Additional styling as needed */
}

header {
  position: fixed;
  top: -100px; /* Hide the header off-screen */
  width: 100%;
  background-color: #333;
  color: white;
  transition: top 0.3s;
  padding: 20px;
  box-sizing: border-box;
}

header.scrolled {
  top: 0; /* Show the header */
}

.content {
  width: 1auto;
  margin-top: 60px; /* Add margin to account for the fixed header */
  /* Your content styles here */
  background-color: aqua;
}
